.mainContent {
  padding: 0px;
  // background-color: #a200ff48;
  // border-radius: 20px;

  .sectionTitle {
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin-bottom: 0px;
  }

  .bannerSection {
    .carouselItem {
      // Puedes establecer un contenedor para asegurarte de que las imágenes se ajusten
      overflow: hidden; // Esto asegura que cualquier parte de la imagen que sobrepase el contenedor se corte.

      img {
        width: 100%; // Asegura que la imagen ocupe el ancho completo del contenedor
        max-height: 400px; // Establece el límite de altura deseado
        object-fit:contain; // Mantiene la proporción de la imagen y corta cualquier parte que exceda el contenedor
        border-radius: 15px; // Bordes redondeados
      }
    }
  }

  .destacado1{
    color: rgb(225, 0, 255);
    }


   
    //--------------------------------------------//


  .offersSection {
    .offersGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;

      .offerItem {
        // background-color: #555555ab;
        // border-radius: 10px;
        padding: 20px;
        display: flex; // Cambiado para flexbox
        align-items: center; // Alinear verticalmente
        color: #000000;
        

        .offerContent {
          display: flex; // Usar flexbox para alinear imagen y texto
          align-items: center; // Alinear verticalmente
          justify-content: center;

          .offerImage {
            max-width: 600px; // Ajusta el tamaño según tus necesidades
            height: auto;
            margin-right: 15px; // Espacio entre imagen y texto
            border-radius: 8px;
          }



          .offerText {
            h3 {
              font-size: xx-large;
              color: #000000;
              margin-bottom: 10px;
            }

            p {
              font-size: large;
              color: #000000;
            }
          }
        }
      }
    }
  }

  //----------------------------------------//

  .bannerSection {
    animation: fadeIn 1s ease-in-out; // Aplica la animación a la sección de banners
  
    .carouselItem {
      overflow: hidden;
  
      img {
        width: 100%;
        max-height: 400px;
        object-fit: contain;
        border-radius: 15px;
      }
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
 
    
    //--------------------------------------------//
    .textSection {
      padding: 2em;
      background-color: #a3a3a3; // Color de fondo de la sección
      border-radius: 10px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      animation: fadeIn 0.8s ease-in-out; // Animación de entrada para la sección
    
      .textContainer {
        max-width: 800px;
        margin: 0 auto;
        text-align: left;
    
        .sectionTitle {
          font-size: 2em;
          margin-bottom: 1em;
          color: #333;
          animation: slideIn 0.5s ease-in-out; // Animación para el título
        }
    
        .sectionDescription {
          font-size: large;
          margin-bottom: 1em;
          animation: slideIn 0.7s ease-in-out; // Animación para la descripción
        }
    
        .featuresList {
          list-style-type: disc; // Asegúrate de que el tipo de lista sea 'disc'
          margin: 1em 0;
          padding-left: 25px; // Espaciado a la izquierda para que los puntos sean visibles
    
          li {
            margin-bottom: 0.5em;
            color: #555;
            list-style: disc; // Asegúrate de que los puntos estén forzados
            animation: slideIn 0.9s ease-in-out; // Animación para cada ítem de la lista
          }
        }
    
        .sectionConclusion {
          font-size: medium;
          margin-top: 1em;
          color: #444;
          animation: slideIn 1.1s ease-in-out; // Animación para la conclusión
        }
    
        .highlightedText {
          background-color: #333; // Fondo gris oscuro
          color: #fff; // Color del texto
          padding: 1em; // Espacio interno
          border-radius: 8px; // Bordes redondeados
          font-size: 1.5em; // Aumenta el tamaño de la fuente
          margin-top: 1.5em; // Espacio encima
          animation: fadeIn 1.5s ease-in-out; // Añadir animación
          transition: transform 0.3s ease; // Transición para efecto de hover
    
          h2 {
            margin: 0; // Quitar margen por defecto del h2
          }
    
          &:hover {
            transform: scale(1.05); // Efecto de aumento al pasar el mouse
          }
        }
    
        .highlight {
          font-weight: bold; // Negrita para el texto destacado
          color: #ff6347; // Color distintivo para el texto destacado
        }
      }
    }
    
    // Animación de entrada
    @keyframes fadeIn {
      from {
        opacity: 0; // Comienza invisible
        transform: translateY(20px); // Se mueve hacia abajo
      }
      to {
        opacity: 1; // Se vuelve completamente visible
        transform: translateY(0); // Se coloca en su posición original
      }
    }
    
    // Animación de deslizamiento
    @keyframes slideIn {
      from {
        opacity: 0; // Comienza invisible
        transform: translateX(-20px); // Se mueve desde la izquierda
      }
      to {
        opacity: 1; // Se vuelve completamente visible
        transform: translateX(0); // Se coloca en su posición original
      }
    }
    


 
    //--------------------------------------------//

  

  .newArrivalsSection {
    margin-top: 40px;
    text-align: center; // Centrar el texto de la sección
  
    .sectionTitle {
      font-size: 2.5rem; // Aumentar el tamaño del título
      color: #333; // Color del título
      margin-bottom: 20px; // Espacio debajo del título
      animation: slideIn 0.5s ease-in-out; // Animación de entrada
    }
  
    .productsGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
  
      .productItem {
        background-color: #f9f9f9; // Fondo claro para destacar el producto
        border-radius: 10px;
        padding: 20px;
        transition: transform 0.3s; // Transición suave al hacer hover
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); // Sombra para el efecto de profundidad
  
        &:hover {
          transform: translateY(-5px); // Movimiento al hacer hover
          box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2); // Aumentar la sombra al hacer hover
        }
  
        .productImage {
          max-width: 80%;
          height: auto;
          margin-bottom: 15px;
          border-radius: 8px;
          animation: fadeIn 0.5s ease-in-out; // Animación de entrada para la imagen
        }
  
        .productTitle {
          font-size: 1.8rem; // Aumentar el tamaño del título del producto
          color: #333;
          margin-bottom: 10px;
          animation: fadeIn 0.5s ease-in-out; // Animación de entrada para el título
        }
  
        .productDescription {
          font-size: 1rem;
          color: #555;
          animation: fadeIn 0.5s ease-in-out; // Animación de entrada para la descripción
        }
  
        .highlight {
          color: #ff6347; // Color diferente para el texto destacado
          font-weight: bold; // Negrita para el texto destacado
          text-decoration: underline; // Subrayar el texto destacado
        }
      }
    }
  }
  
  // Animaciones
  @keyframes slideIn {
    from {
      transform: translateY(-20px); // Comienza desde arriba
      opacity: 0; // Comienza invisible
    }
    to {
      transform: translateY(0); // Se coloca en su posición original
      opacity: 1; // Se vuelve completamente visible
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; // Comienza invisible
    }
    to {
      opacity: 1; // Se vuelve completamente visible
    }
  }
  
}

 
    //--------------------------------------------//



.subscriptionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  .productImage {
    width: 100%; // La imagen toma el 100% del ancho del contenedor
    max-width: 600px; // Límite de tamaño máximo en pantallas grandes
    height: auto; // Mantiene la proporción de la imagen
    object-fit: cover; // Ajusta la imagen al contenedor sin distorsión
  }

  .subscribeButton {
    margin-top: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    background-color: #333; // Cambia a tu color preferido
    color: #fff;
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .subscriptionSection {
    .productImage {
      max-width: 90vw;
    }

    .subscribeButton {
      font-size: 0.9rem;
      padding: 0.4rem 1rem;
    }
  }
}

@media (max-width: 480px) {
  .subscriptionSection {
    padding: 0.5rem;

    .productImage {
      max-width: 100vw;
    }

    .subscribeButton {
      font-size: 0.8rem;
      padding: 0.3rem 0.8rem;
    }
  }
}

.subscriptionFormOverlay {
  position: sticky;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscriptionForm {
  background-color: #535353d8;
  padding: 2rem;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  text-align: center;

  h2 {
    margin-bottom: 1rem;
  }

  input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .submitButton,
  .closeButton {
    padding: 0.5rem 1rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .submitButton {
    background-color: #ffb4126c;
    color: #fff;
  }

  .closeButton {
    background-color: #ccc;
  }
}

//----------------toast suscripcion-------------//

.my-toast-container {
  .Toastify__toast {
    background-color: #ffe694; // Color de fondo
    color: white; // Color del texto
    border-radius: 8px; // Esquinas redondeadas
    padding: 10px; // Espaciado interno
  }

  .Toastify__toast--success {
    background-color: #af8c4c; // Color específico para toast de éxito
  }

  .Toastify__toast--error {
    background-color: #ffa4a4; // Color específico para toast de error
  }

  .Toastify__close-button {
    color: white; // Color del botón de cerrar
    &:hover {
      color: #ffeb3b; // Color al pasar el mouse
    }
  }
}
